<footer class="footer">
    <div class="row">
        <div class="media col-4">
            <p class="contact">
                follow us
            </p>
            <i class="devicon-facebook-plain colored"></i>
            <i class="devicon-twitter-plain colored"></i>
        </div>
        <div class="col-8">
            <ul class="nav footer-list">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        help
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                       about us 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        privacy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        markiting
                    </a>
                </li>
            </ul>
        </div>
    </div>

</footer>