  <meta charset="UTF-8">

  <!-- If IE use the latest rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Set the page to the width of the device and set the zoon level -->
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <title>mysell</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/sheet.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome.min.css"/>
   <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link href="/stylesheets/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/devicon.min.css">
