<div class="header">
  <ul class="nav">
    <input class="input my-2" type="text" placeholder="Search..">
    <li class="nav-item">
      <a class="nav-link" href="/">home</a>
    </li>
    <% if(user){ %>
      <li class="nav-item">
        <a id="newproduct" href="/form" class="btn btn-warning btn-bg">add product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">profile</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">logout</a>
    </li>
    <% } else { %>
    <li class="nav-item">
      <a class="nav-link" href="/signup">signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">login</a>
    </li>
    <% } %>
  </ul>
</div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
  <div class="spinner diagonal part-1"></div>
  <div class="spinner horizontal"></div>
  <div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
  <ul class="sidebarMenuInner">
    <li> CATAGORIES</li>
    <li><a href="https://vanila.io" target="_blank">best sellers</a></li>
    <li><a href="https://instagram.com/plavookac" target="_blank">new releases</a></li>
    <li><a href="https://twitter.com/plavookac" target="_blank">shop by department</a></li><!--should be a dropdown list-->
    <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg" target="_blank">digital content</a></li><!--should be a dropdown list-->
    <li><a href="https://www.linkedin.com/in/plavookac/" target="_blank">discounts</a></li>
  </ul>
</div>