<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/formstyle.css">
    </head>
    <body>
        <div class="wrapper">
            <% include partials/navbar %>

            <form id="product-form" action="/form"enctype="multipart/form-data" method="POST">
                <h1>new product</h1>
                <div class="tab">
                    product info:
                    <p><input id="in" class="product" name="productname" type="text" placeholder="productName.." oninput="this.className = ''"></p>
                    <p><input id="in" class="description"name="description" type="text" placeholder="description.." oninput="this.className = ''" ></p>
                </div>
                <div class="tab">
                    <p><input id="in"class="price" name="price" type="text" placeholder="price.." oninput="this.className = ''"></p>
                    <p><input id="in"class="category" name="category" type="text" placeholder="category.." oninput="this.className = ''"></p>
                </div>
                <div class="tab">
                    product picture:
                    <label for="img">Select image:</label>
                    <input id="in" type="file" id="img" name="picture" accept="image/*">
                </div>
                <div class="tab">
                    <p><input id="in" class="city" type="text" name="city" placeholder="city.." oninput="this.className = ''"></p>
                </div>
                <div style="overflow:auto;">
                    <div style="float:right;">
                      <button class="btn btn-warning btn-bg" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                      <button class="btn btn-warning btn-bg"type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                    </div>
                  </div>
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                  </div>
            </form>
        </div>
    <% include partials/footer %>

    <script src="/javascripts/formjs.js"></script>
    </body>
</html>

