<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include partials/head %>
</head>

<body>
  <div class="wrapper">
    <% include partials/navbar %>
    <div id="content">
      <ul class="nav nav-2">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul> 
  <!--   <div class="items">
      <% for(i = 0; i < cards.length; i++){ %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      <% } %>
      </div>--> 
    </div>
  </div>
    <% include partials/footer%>
</body>

</html>